<!--  

Bokningar.html, visar data som ett "card" och lite sånt.. inget specifikt här egentligen att kommentera.

 
--> 


{%extends 'base.html'%}

{% block head %}

{%endblock%}

{% block body %}



{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <center style="color: blue">
        <div class="title">
            <h3>Dina fina böcker, checka information eller avboka din bok</h3>
        </div>
    </center>
    <div class="row">
        {% for data in Data_books %}
	{% set the_var5 = data.Image_name|string %}
        <form action="{{ url_for('bokningar') }}" form method="POST" class="col-md-4">
            <div class="card text-center" style="width 14rem;">
                <div class="card-body">
                {% set the_var = data.idBooks|string %}
                    <h5 class="card-title">{{data.Name}}</h5>
                    <p class="card-text">{{data.Author}}</p><br>
                  <p class="card-text">Boken är bokad från: {{data.Bok_booked_datumSTART}} till {{data.Bok_booked_datumEND}}</p>
                         <center>
                            <img class="img" src="{{ url_for('static', filename=the_var5) }}" />
                        </center>
                        <br>
                   <a href="{{ url_for('avbokning', idBooks=data.idBooks, bookName = data.Name)}}" class="btn btn-primary" >Återlämna bok</a>                                                                                                                                                                                                                              
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
{%endblock%}



